# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/
*.pdf
vegplot_code-dev/AC14_floristic_plots.csv
vegplot_code-dev/Assignnewplots.R
vegplot_code-dev/char_spp_top.csv
vegplot_code-dev/char_spp_based_alloc_2359.zip
vegplot_code-dev/char_spp_matched.csv
vegplot_code-dev/data/d2cnewMay08.csv
vegplot_code-dev/data/4735_East_NewCA_2359_TaxonomicList.csv
vegplot_code-dev/data/4735_East_NewCA_2359_CensusList.csv
vegplot_code-dev/data/May2018_New_CA_yes_2359_LocationList.csv
vegplot_code-dev/data/4735_East_NewCA_2359.txt
vegplot_code-dev/logs/
vegplot_code-dev/group_chars_per_RCP.rds
vegplot_internal_tools/raw_data/eg_cents.csv
vegplot_internal_tools/intermediates/char-spp_analysis.rds
vegplot/www/logfiles/log_*
