@media screen {
.navbar-brand-logo {
    margin: 0;
    padding: 18px 16px;
    width: 232px;
    height: 112px;
}}



html, body {
    height: 100%;
}
.page-wrap {
  min-height: 70%;
  /* equal to footer height */
    margin-bottom: -142px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.comp-footer, .page-wrap:after {
  /* .push must be the same height as footer */
    height: auto; 
}


.nav-tabs>li>a {
    margin-right: 2px;
    line-height: 1.42857143;
    border: 1px solid transparent;
    border-radius: 4px 4px 0 0;
    background-color: #d8d8d8;
}